{% extends 'main.html' %}

{% block header %}
    <h1>Sign-in</h1>
{% endblock %}

{% block content %}
<form method="post">
    {% if alert_show: %}
    <div class="alert {{alert_class}}">
        {{alert_content}}
    </div>
    {% endif %}

    <label>E-mail</label>
    <input type="text" name="email" id="email" autofocus required />

    <label>Password</label>
    <input type="password" name="password" id="password" required />

    <button type="submit" class="btn btn-primary">
        Sign in
    </button>

    <br />
    <br />

    <div style="text-align: center;">
        {% if guest_signup %}
            <a href="/form/sign-up?{{args}}">Create new account</a> or
            <a href="/form/reset-password?{{args}}">Reset your password</a>
        {% else %}
            <a href="/form/reset-password?{{args}}">Reset your password</a>
        {% endif %}
    </div>
</form>
{% endblock %}