body {
    margin: 0;
    padding: 0;
    background: #383b4a;
    font-family: "Helvetica Neue", Helvetica, Arial, sens-serif;
    font-size: 16px;
    line-height: 1.5;
}

.alert {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.alert-danger {
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

.alert-success {
    background: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}

.alert-warning {
    background: #fff3cd;
    border: 1px solid #ffeeba;
    color: #856404;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 25px;
    border: 1px solid black;
    background: white;
    border-radius: 15px;
}

header {
    text-align: center;
}

label {
    display: block;
}

input[type='text'], input[type='password'] {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #383b4a;
    padding: 5px 0;
    outline: none;
    margin-bottom: 15px;
    font-size: 16px;
}

.btn {
    width: 100%;
    border-radius: 15px;
    padding: 5px 0;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary {
    background: #0062cc;
    border: 1px solid #005cbf;
    color: white;
}
.btn-success {
    background: #1e7e34;
    border: 1px solid #1c7430;
    color: white;
}
.btn-danger {
    background: #bd2130;
    border: 1px solid #b21f2d;
    color: white;
}

.fw50p {
     float: left;
    display: block;
    width: 50%;
}

.input_5px_less {
    width: calc(100% - 5px);
}

.ml5 {
    margin-left: 5px;
}

.clearfix {
    clear: both;
}