<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="manifest" href="/static/site.webmanifest" />

    <meta charset="UTF-8">
    <title>Authentication</title>
    <link rel="stylesheet" href="/static/style/main.css" />
</head>
<body>

    <section class="container">
        <header>
            <img src="/static/images/logo.png" />
        </header>

        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    </section>
</body>
</html>